name: CI/CD

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wf:
    uses: suspectsoftware/workflow-examples/.github/workflows/go-workflow.yml@main
    secrets: inherit
